@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   font-family: Raleway;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Hero-bg.png);
}
.navbar {
    width: 80%;
    /* background: red; */
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    font-weight: 700;
    color: #4E47FF;
}

.button {
    padding: 12px 22px;
    font-size: 15px;
    border-radius: 7px;
    background: #4E47FF;
    border: none;
    color: #fff;
    font-weight: 600;
}

.center-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
    margin: 200px auto;

    .text {
        text-align: center;
        font-size: 57px;

        .cool-text {
            font-weight: 700;
        }
    }
    .center-btn {
        margin-top: 20px;
    }
}

