@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   font-family: Raleway;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url(assets/Hero-bg.png);
}
.navbar {
    width: 80%;
    /* background: red; */
    margin: 0 auto;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    font-weight: 700;
    color: #4E47FF;
}

.button {
    padding: 12px 22px;
    font-size: 15px;
    border-radius: 7px;
    background: #4E47FF;
    border: none;
    color: #fff;
    font-weight: 600;
    width: fit-content;
    transition: .3s ;
    cursor: pointer;
}

.button:hover {
    background: #000;
    /* color: #4E47FF; */
    scale: 1.1;
}

.center-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: red; */
    margin: 200px auto;

    .text {
        text-align: center;
        font-size: 57px;

        .cool-text {
            font-weight: 700;
        }
    }
    .center-btn {
        margin-top: 20px;
    }
}

.action {
    /* background: red; */
    height: 70vh;
    width: 100%;
    padding: 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-text {
    width: 50%;
}

.action-text-big {
    font-size: 42px;
    font-weight: 700;
}
.action-sub-text {
    font-size: 24px;
    color: grey;
    margin-top: 5px;
}
.action-btn {
    margin-top: 10px;
}

.action-img {
    border-radius: 40px;
}

.user {
    background: #E5E7FF;
    width: 75%;
    border-radius: 30px;
    margin: 0 auto;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.count {
    display: flex;
    margin-top: 20px;
    width: 100%;
    margin-top: 50px;
    justify-content: space-evenly;
}

.user-count {
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4E47FF;
}

.user-text h1 {
    margin-top: 20px;
}

.reviews {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.cards {
    width: 75%;
    /* background: red; */
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    background: #FFFeFe;
    border: 1px solid #F2EDED;
    border-radius: 20px;
    width: fit-content;
    padding: 20px 30px;
    scale: 1.1;
}

.stars {
    display: flex;
}


.loved-text {
    font-size: 25px;
    margin-top: 5px;
    text-align: left;
}

.loved-by {
    margin-top: 5px;
    text-align: left;
}

.profile {
    display: flex;
    text-align: left;
    margin-top: 20px;
    gap: 10px;
}

.profile img {
    border-radius: 50%;
    object-fit: contain;
}

.name h1 {
    font-size: 20px;
    color: grey;
}

.focus {
    width: 75%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 200px auto 0 auto;
    background: #FFFeFe;
    border: 1px solid #F2EDED;
    border-radius: 30px;
    padding: 35px 0;
}

.focus h1 {
    font-size: 50px;
}

.focus p {
    margin-top: 10px;
}

.focus-btn {
    margin-top: 10px;
}

.focus img {
    margin-top: 20px;
    border-radius: 30px;
}

.touch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    width: 75%;
    height: 50vh;
    margin: 200px auto;
    padding: 0 200px;
}

.touch-text h1 {
    font-size: 75px;
}

.touch-form {
    /* background: yellow; */
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 10px;
}
.touch-form input {
    width: 100%;
    border: 1px solid grey;
    height: 50px;
    padding: 10px 30px;
    border-radius: 10px;
}

.touch-form p {
    font-size: 14px;
    margin: 2px 0;
    font-weight: 550;
}

.touch-form textarea {
    width: 100%;
    height: 150px;
    padding: 10px 30px;
    border-radius: 10px;
}

.touch-button {
    width: 100%;
}

.footer {
    width: 75%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.footer h1 {
    font-size: 70px;
    color: #4E47FF;
    margin: 10px 0;
}

.footer p {
    font-size: 16px;
    color: grey;
    text-align: center;
}

.footer .links {
    margin-top: 50px;
}
.footer .links a {
    padding: 0 20px;
    color: grey;
    text-decoration: none;
}